#container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
  }
.item {
  color: #ffffff;
  font-size: 25px;
  display: flex;
  }
.item-1 {
    background-color: #8f2323;
}
.item-2 {
    background-color: #5cd3d3;
}
.item-3 {
    background-color: #45b18d;
}
.item-4 {
  background-color: #723ea3;
}
.item-5 {
  background-color: #e07e23;
}
.item-6 {
  background-color: #5eb1ff;
}
.item-7 {
  background-color: #ff573a;
}
.item-8 {
  background-color: #6fcc22;
}
.item-9 {
  background-color: #244f9e;
}
p {
  align-self: center;
  margin-left: 20px;
}